<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581040220498-es8ph5ns0r8qamdph4n4uhbnc9mr1grm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581040220498-es8ph5ns0r8qamdph4n4uhbnc9mr1grm</string>
	<key>API_KEY</key>
	<string>AIzaSyA0WGTIfN8fYwJ4pDs7uNOae24GYKC12ro</string>
	<key>GCM_SENDER_ID</key>
	<string>581040220498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sandrodarnuzer.quickpoll</string>
	<key>PROJECT_ID</key>
	<string>quickpoll-dd9be</string>
	<key>STORAGE_BUCKET</key>
	<string>quickpoll-dd9be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581040220498:ios:8e77642ba105ed315a328b</string>
</dict>
</plist>